*.sqlite
*.env
*.vscode
*.aux

*.bbl

*.log

document.blg

document.out

document.pdf

*.synctex

*.toc

*.blg

*.out

./*.pdf

./pdfs/*

__pycache__/*

make_doc.tex
tags