{% extends "layout.html" %}

{% block title %}How to cite tag {{ tag.tag }}{% endblock %}

{% block head %}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/2.0.0/clipboard.min.js"></script>
{% endblock %}

{% block breadcrumb %}
  {{ macros.breadcrumb(breadcrumb) }}
{% endblock %}

{% block neighbours %}
  <ul class="neighbours">
  {% if neighbours[0] %}
    <li class="left"><a href="/tag/{{ neighbours[0].tag }}">previous {{ neighbours[0].type }}</a>
  {% endif %}
  {% if neighbours[1] %}
    <li class="right"><a href="/tag/{{ neighbours[1].tag }}">next {{ neighbours[1].type }}</a>
  {% endif %}
  </ul>
  <br style="clear:both">
{% endblock %}

{% block body %}
  <h2>How to cite tag <span class="tag">{{ tag.tag }}</span></h2>

  <p>Go <a href="/tag/{{ tag.tag }}">back to the tag page</a>.

  <p>You can use one of the following citations in your LaTeX code.
  <ul id="citations">
    <li>
        <button class="btn btn-light shadow" data-clipboard-target="#cite-tag-link">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-clipboard" viewBox="0 0 16 16">
            <path d="M4 1.5H3a2 2 0 0 0-2 2V14a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V3.5a2 2 0 0 0-2-2h-1v1h1a1 1 0 0 1 1 1V14a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V3.5a1 1 0 0 1 1-1h1v-1z"/>
            <path d="M9.5 1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-3a.5.5 0 0 1-.5-.5v-1a.5.5 0 0 1 .5-.5h3zm-3-1A1.5 1.5 0 0 0 5 1.5v1A1.5 1.5 0 0 0 6.5 4h3A1.5 1.5 0 0 0 11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3z"/>
        </svg>
        </button>
        <!-- <button class="clipboard" data-clipboard-target="#cite-tag-link"><img src="/static/images/clippy.svg"></button> -->
        <code id="cite-tag-link">\cite[\href{https://mipstar.net/tag/{{ tag.tag }}}{Tag {{ tag.tag }}}]{mipstar}</code>
    </li>
    <li>
        <button class="btn btn-light shadow" data-clipboard-target="#cite-type-link">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-clipboard" viewBox="0 0 16 16">
            <path d="M4 1.5H3a2 2 0 0 0-2 2V14a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V3.5a2 2 0 0 0-2-2h-1v1h1a1 1 0 0 1 1 1V14a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V3.5a1 1 0 0 1 1-1h1v-1z"/>
            <path d="M9.5 1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-3a.5.5 0 0 1-.5-.5v-1a.5.5 0 0 1 .5-.5h3zm-3-1A1.5 1.5 0 0 0 5 1.5v1A1.5 1.5 0 0 0 6.5 4h3A1.5 1.5 0 0 0 11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3z"/>
        </svg>  
        </button>
        <!-- <button class="clipboard" data-clipboard-target="#cite-type-link"><img src="/static/images/clippy.svg"></button> -->
        <code id="cite-type-link">\cite[\href{https://mipstar.net/tag/{{ tag.tag }}}{% raw %}{{% endraw %}{{ tag.type | capitalize }} {{ tag.tag }}{% raw %}}{% endraw %}]{mipstar}</code>
    </li>
    <li>
        <button class="btn btn-light shadow" data-clipboard-target="#link-tag">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-clipboard" viewBox="0 0 16 16">
            <path d="M4 1.5H3a2 2 0 0 0-2 2V14a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V3.5a2 2 0 0 0-2-2h-1v1h1a1 1 0 0 1 1 1V14a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V3.5a1 1 0 0 1 1-1h1v-1z"/>
            <path d="M9.5 1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-3a.5.5 0 0 1-.5-.5v-1a.5.5 0 0 1 .5-.5h3zm-3-1A1.5 1.5 0 0 0 5 1.5v1A1.5 1.5 0 0 0 6.5 4h3A1.5 1.5 0 0 0 11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3z"/>
        </svg>  
        </button>
        <!-- <button class="clipboard" data-clipboard-target="#link-tag"><img src="/static/images/clippy.svg"></button> -->
        <code id="link-tag">\href{https://mipstar.net/tag/{{ tag.tag }}}{Tag {{ tag.tag }}}</code>
    </li>
    <li>
        <button class="btn btn-light shadow" data-clipboard-target="#link-type">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-clipboard" viewBox="0 0 16 16">
            <path d="M4 1.5H3a2 2 0 0 0-2 2V14a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V3.5a2 2 0 0 0-2-2h-1v1h1a1 1 0 0 1 1 1V14a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V3.5a1 1 0 0 1 1-1h1v-1z"/>
            <path d="M9.5 1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-3a.5.5 0 0 1-.5-.5v-1a.5.5 0 0 1 .5-.5h3zm-3-1A1.5 1.5 0 0 0 5 1.5v1A1.5 1.5 0 0 0 6.5 4h3A1.5 1.5 0 0 0 11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3z"/>
        </svg>        
        </button>
        <!-- <button class="clipboard" data-clipboard-target="#link-type"><img src="/static/images/clippy.svg"></button> -->
        <code id="link-type">\href{https://mipstar.net/tag/{{ tag.tag }}}{% raw %}{{% endraw %}{{ tag.type | capitalize }} {{ tag.tag }}}</code>
    </li>
  </ul>
  <script type="text/javascript">
    new ClipboardJS(".btn");//".clipboard");
  </script>

  <p>You can use the following in your BibTeX file.
  <pre><code>@misc{mipstar,
  author       = {The {MIP* authors}},
  title        = {MIP*},
  howpublished = {\url{https://mipstar.net}},
  year         = {% raw %}{{% endraw %}{{ time.year }}},
}</code></pre>
  <p>You can also consider using the <code>@online</code> type in BibLaTeX, changing the the <code>howpublished</code> to <code>url</code>. Another neat trick in BibLaTeX is the <code>shorthand</code> field, which you could set to <code>SP</code> or <code>Stacks</code>.
{% endblock %}

